.footer-triangle {
    margin: 0 0 -4em 0;
    fill: $red;
    width: 100%;
}
.footer {
    background-color: $red;
    color: white;
    padding-bottom: 4rem;
    div.footer-menu {
        display: flex;
        justify-content: center;
        width: 100%;
        ul {
            display: flex;
            align-items: flex-start;
            margin: 3rem 0 0 0;
            li {
                margin: 0.3em 1.2em;
                justify-content: center;
                a {
                    font-size: 1.3em;
                    svg.logo-image {
                        fill: white;
                        width: 4.5em;
                    }
                }
            }
            li:nth-child(3) {
                margin: 0;
                padding: 0.1em 0.2em;
            }
        }
    }
}