
/*Secondary color*/$red: #C1272D;
                    $black:#000000;
                     $white: #ffffff;

/*Gradient 1*/
$gradient-1-color-1 : cyan ;
$gradient-1-color-2 : blue;
$gradient-1-color-3 : fuchsia;
$gradient-1-color-4 :  yellow;
